* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    height: 100vh;
    display: flex;
}

.navigation-container {
    display: flex;
    flex-direction: column;
    background-color: #4d4d4d;
    width: 60px;
    padding: 10px;
}

.navigation-container-top,
.navigation-container-middle,
.navigation-container-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-container-top {
    height: 10%;
}

.navigation-container-middle {
    height: 50%;
    justify-content: space-around;
}

.navigation-container-bottom {
    height: 40%;
    justify-content: flex-end;
}

.navigation-container-middle i {
    font-size: 20px;
    color: #08fdd8;
}

.navigation-container-bottom i {
    font-size: 15px;
    color: #08fdd8;
}

.main-content-container {
    background-color: #222222;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.HTML-CSS-JS-img {
    width: 100%;
    height: auto;
}