/********************************************************************************************************/
/* GLOBAL STYLES START */
/********************************************************************************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Calibri;
}

.orange-button {
    padding: 15px 25px;
    background-color: #000;
    border: 3px solid #e6992b;
    border-radius: 50px;
    margin-top: 60px;
    color: #e6992b;
    font-size: 1rem;
    font-family: Calibri;
    text-decoration: none;
    text-align: center;
    outline: none;
    transition: all 0.5s;
}

.orange-button:hover {
    background-color: #e6992b;
    border: 3px solid #08fdd8;
    color: #000;
    transform: scale(1.1);
    transition: all 0.5s;
    box-shadow: 0px 0px 2px 2px #808080;
}

.cyan-button {
    padding: 15px 25px;
    background-color: #636363;
    border: 3px solid #08fdd8;
    border-radius: 50px;
    color: #08fdd8;
    font-size: 1rem;
    font-family: Calibri;
    text-decoration: none;
    text-align: center;
    outline: none;
    transition: all 0.5s;
}

.cyan-button:hover {
    background-color: #08fdd8;
    border: 3px solid #312450;
    color: #312450;
    transform: scale(1.1);
    transition: all 0.5s;
    box-shadow: 0px 0px 2px 2px #808080;
}
/********************************************************************************************************/
/* GLOBAL STYLES END */
/********************************************************************************************************/





/********************************************************************************************************/
/* NAVIGATION STYLES START */
/********************************************************************************************************/
.main-container {
    height: 100vh;
    display: flex;
}

.navigation-container {
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
    width: 60px;
    height: 100vh;
    position: fixed;
    z-index: 1;
}

.navigation-container-top,
.navigation-container-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-container-top {
    height: 10%;
}

.navigation-container-bottom {
    height: 80%;
    justify-content: space-around;
    padding: 10px;
}

.navigation-container-bottom i {
    font-size: 1.25rem;
    color: #08fdd8;
}

.PK-img {
    width: 100%;
    height: auto;
}
/********************************************************************************************************/
/* NAVIGATION STYLES END */
/********************************************************************************************************/





/********************************************************************************************************/
/* HOME SECTION STYLES START */
/********************************************************************************************************/
#home-section-container {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5%;
}

.home-section-container-left h1 {
    color: #e6992b;
    font-size: 6rem;
}

.home-section-container-left h2 {
    color: #08fdd8;
    font-size: 3.5rem;
    margin: 0 0 10px 0;
}

.home-section-container-left p {
    color: #fff;
    font-size: 2rem;;
}

.home-section-container-right {
    display: flex;
    flex-direction: column;
}
/********************************************************************************************************/
/* HOME SECTION STYLES END */
/********************************************************************************************************/




/********************************************************************************************************/
/* ABOUT SECTION STYLES START */
/********************************************************************************************************/
#about-section-container {
    background-color: #181818;
    margin-left: 60px;
    padding: 5%;
}

#about-section-container h2 {
    padding: 20px 0 70px 0;
    font-size: 5rem;
    color: #08fdd8;
}

#about-section-container h3 {
    font-size: 3rem;
    color: #e6992b;
    margin: 10px 0;
    padding: 40px 0 40px 0;
    text-align: center;
}

.about-section-intro-content p {
    margin: 20px 0;
}

#about-section-container div p {
    color: #fff;
    font-size: 1.75rem;
}

.about-section-intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section-bulleted-content {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

/********************************************************************************************************/
/* ABOUT SECTION STYLES END */
/********************************************************************************************************/




/********************************************************************************************************/
/* MY WORK SECTION STYLES START */
/********************************************************************************************************/
#my-work-section-container {
    background-color: #000;
    margin-left: 60px;
    padding: 5%;
}

#my-work-section-container h2 {
    padding: 20px 0 70px 0;
    font-size: 5rem;
    color: #08fdd8;
}

.my-work-intro-content p {
    margin: 20px 0;
}

#my-work-section-container p {
    color: #fff;
    font-size: 1.75rem;
}

.my-work-intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-work-component {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #636363;
    border-radius: 25px;
    margin: 40px 0;
    padding: 2%;
}

.my-work-component-left img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: auto;
    padding: 10px;
}

.my-work-component h3 {
    font-size: 1.875rem;
    color: #e6992b;
}

.my-work-component p {
    margin: 20px 0;
}

.my-work-component-client,
.my-work-component-built-with {
    color: #e6992b;
}

.my-work-component-buttons {
    display: flex;
    justify-content: space-around;
}

.my-work-component-right {
    width: 60vw;
    padding: 10px;
}
/********************************************************************************************************/
/* MY WORK SECTION STYLES END */
/********************************************************************************************************/




/********************************************************************************************************/
/* RESUME SECTION STYLES START */
/********************************************************************************************************/
#resume-section-container {
    background-color: #181818;
    margin-left: 60px;
    height: 100vh;
    padding: 5%;
}

#resume-section-container h2 {
    padding: 20px 0 70px 0;
    font-size: 5rem;
    color: #08fdd8;
}

#resume-section-container p {
    color: #fff;
    font-size: 1.75rem;
}

.resume-section-intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resume-section-button {
    background-color: #222;
    transition: all 0.5s;
}

#resume-section-button:hover {
    background-color: #e6992b;
    transition: all 0.5s;
}
/********************************************************************************************************/
/* RESUME SECTION STYLES END */
/********************************************************************************************************/




/********************************************************************************************************/
/* CONTACT ME SECTION STYLES START */
/********************************************************************************************************/
#contact-me-section-container {
    background-color: #000;
    margin-left: 60px;
    height: 100vh;
    padding: 5%;
}

#contact-me-section-container h2 {
    padding: 20px 0 70px 0;
    font-size: 5rem;
    text-align: center;
    color: #08fdd8;
}

.contact-me-email-heading {
    color: #e6992b;
    display: block;
}

.contact-me-intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-me-intro-content p {
    color: #fff;
    font-size: 1.75rem;
    padding: 30px;
}

.contact-me-intro-content a {
    color: #e6992b;
    text-decoration: none;
}
/********************************************************************************************************/
/* CONTACT ME SECTION STYLES START */
/********************************************************************************************************/





/********************************************************************************************************/
/* MEDIA QUERIES START */
/********************************************************************************************************/
@media only screen and (max-width: 1200px) {
    .navigation-container {
        flex-direction: row;
        align-items: center;
        border-right: none;
        height: 60px;
        width: 100vw;
    }

    .navigation-container-top,
    .navigation-container-bottom {
        flex-direction: row;
    }

    .PK-img {
        width: auto;
        height: 64px;
    }

    .navigation-container-top {
        width: 10%;
    }
    
    .navigation-container-bottom {
        width: 100%;
    }

    #home-section-container {
        padding-top: 70px;
    }

    .home-section-container-left h1 {
        font-size: 4.5rem;
    }
    
    .home-section-container-left h2 {
        font-size: 3rem;
        margin: 0 0 10px 0;
    }
    
    .home-section-container-left p {
        font-size: 1.5rem;;
    }

    #about-section-container h2,
    #my-work-section-container h2,
    #resume-section-container h2,
    #contact-me-section-container h2 {
        padding: 70px 0 5px 0;
        font-size: 4rem;
    }

    #about-section-container {
        margin: 0;
    }

    #my-work-section-container {
        margin: 0;
    }

    #resume-section-container {
        margin: 0;
    }

    #contact-me-section-container {
        margin: 0;
    }
}

@media only screen and (max-width: 900px) {

    #home-section-container {
        padding: 10px;
    }

    .home-section-container-left h1 {
        font-size: 4rem;
    }
    
    .home-section-container-left h2 {
        font-size: 2rem;
        margin: 0 0 10px 0;
    }
    
    .home-section-container-left p {
        font-size: 1rem;
    }

    .about-section-bulleted-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .my-work-component {
        flex-direction: column-reverse;
        align-items: center;
    } 

    .my-work-component h3 {
        text-align: center;
    } 

    .my-work-component-left img {
        width: 400px;
    }

    .my-work-component-right {
        width: 100%;
    }

}


@media only screen and (max-width: 770px) {

    #home-section-container {
        flex-direction: column;
        justify-content: center;
    }

    .orange-button {
        margin-top: 40px;
    }

}


@media only screen and (max-width: 506px) {

    .home-section-container-left h1 {
        font-size: 3rem;
    }

    .home-section-container-left h2 {
        font-size: 1.5rem;
    }

    .orange-button {
        margin-top: 30px;
    }

}

@media only screen and (max-width: 390px) {

    .orange-button {
        margin-top: 30px;
    }

}
/********************************************************************************************************/
/* MEDIA QUERIES END */
/********************************************************************************************************/