/********************************************************************************************************/
/* GLOBAL STYLES START */
/********************************************************************************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/********************************************************************************************************/
/* GLOBAL STYLES END */
/********************************************************************************************************/





/********************************************************************************************************/
/* NAVIGATION STYLES START */
/********************************************************************************************************/
.main-container {
    height: 100vh;
    display: flex;
}

.navigation-container {
    display: flex;
    flex-direction: column;
    background-color: #4d4d4d;
    width: 60px;
    padding: 10px;
    height: 100vh;
    position: fixed;
    z-index: 1;
}

.navigation-container-top,
.navigation-container-middle,
.navigation-container-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-container-top {
    height: 10%;
}

.navigation-container-middle {
    height: 50%;
    justify-content: space-around;
}

.navigation-container-bottom {
    height: 40%;
    justify-content: flex-end;
}

.navigation-container-middle i {
    font-size: 20px;
    color: #08fdd8;
}

.navigation-container-bottom i {
    font-size: 15px;
    color: #08fdd8;
}

#home-section-container {
    background-color: #222222;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.HTML-CSS-JS-img {
    width: 100%;
    height: auto;
}
/********************************************************************************************************/
/* NAVIGATION STYLES END */
/********************************************************************************************************/





/********************************************************************************************************/
/* HOME SECTION STYLES START */
/********************************************************************************************************/

.home-section-container-left h1 {
    color: #fff;
    font-size: 60px;
}

.home-section-container-left h2 {
    color: #7e7e7e;
    font-size: 35px;
    margin: 10px 0;
}

.home-section-container-right img {
    Width: 50%;
    height: auto;
}

.home-section-container-contact-me-button {
    padding: 10px 20px;
    background-color: #222222;
    border: 1px solid #08fdd8;
    color: #08fdd8;
    font-size: 16px;
    margin-top: 40px;
}

/********************************************************************************************************/
/* HOME SECTION STYLES END */
/********************************************************************************************************/




/********************************************************************************************************/
/* ABOUT SECTION STYLES START */
/********************************************************************************************************/
#about-section-container {
    background-color: #555555;
    margin-left: 60px;
    height: 100vh;
}
/********************************************************************************************************/
/* ABOUT SECTION STYLES END */
/********************************************************************************************************/




/********************************************************************************************************/
/* MY WORK SECTION STYLES START */
/********************************************************************************************************/
#my-work-section-container {
    background-color: #222222;
    margin-left: 60px;
    height: 100vh;
}
/********************************************************************************************************/
/* MY WORK SECTION STYLES END */
/********************************************************************************************************/




/********************************************************************************************************/
/* RESUME SECTION STYLES START */
/********************************************************************************************************/
#resume-section-container {
    background-color: #555555;
    margin-left: 60px;
    height: 100vh;
}
/********************************************************************************************************/
/* RESUME SECTION STYLES END */
/********************************************************************************************************/




/********************************************************************************************************/
/* CONTACT ME SECTION STYLES START */
/********************************************************************************************************/
#contact-me-section-container {
    background-color: #222222;
    margin-left: 60px;
    height: 100vh;
}
/********************************************************************************************************/
/* CONTACT ME SECTION STYLES START */
/********************************************************************************************************/






@media only screen and (max-width: 1200px) {
    .navigation-container {
        flex-direction: row;
        align-items: center;
        height: 60px;
        padding: 10px;
        width: 100vw;
    }

    .navigation-container-top,
    .navigation-container-middle,
    .navigation-container-bottom {
    flex-direction: row;
    }


    .HTML-CSS-JS-img {
        width: auto;
        height: 55px;
    }

    .navigation-container-top {
        width: 10%;
    }
    
    .navigation-container-middle {
        width: 70%;
    }
    
    .navigation-container-bottom {
        width: 10%;
        justify-content: flex-end;
    }

    #about-section-container {
        margin: 0;
    }

    #my-work-section-container {
        margin: 0;
    }

    #resume-section-container {
        margin: 0;
    }

    #contact-me-section-container {
        margin: 0;
    }
  }